<div class="container">

    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group with nested dropdown"
            style="margin-top :25px; margin-bottom:15px;">  
                <a id="viewlist_anchor" class="btn btn-default active" role="button" ng-click="onViewListClicked($event)"><span>View List</span></a>
                <a id="addlist_anchor" class="btn btn-default dummy" role="button" ng-click="onCreateListClicked($event)"><span>Create a List</span></a>
            </div>
            <div id="viewwishlist" class="row show">
                <ul class="list-group">
                    <div ng-repeat="list in allWishListItems">
                    <li class="list-group-item" data-toggle="collapse" data-target="#demow_{{$index}}">
                        {{list.wishListName}} <span class="pull-right glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    </li>
                    <div id="demow_{{$index}}" class="collapse" style="padding:10px 5px;">
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="it in list.items">{{it.cat}} : {{it.name}}<span class="badge">{{it.qty}} Pending</span></li>
                        </ul>
                    </div>
                    </div>
                </ul>
            </div>
            <div id="addwishlist" class="row hide" style="padding:15px;">
                <div>
                    <input id="addwishlst_name" type="text" placeholder="Wish list Name" class="form-control" required>
                </div>
                <div>
                    <h5>Add Items</h5>
                    <div id="itemlistContainer" class="row" style="padding:0px 10px;">
                        <div class="listItems" style="margin-bottom : 10px;">
                            <input type="text" data-attr="name" placeholder="Item Name" class="form-control pull-left clear" style="width:40%;">
                            <input type="text" data-attr="qty" size="3" placeholder="Qty" class="pull-left form-control clear" style="margin-left:3px;width:20%;">
                            <input type="text" data-attr="cat" placeholder="Category" class="pull-left form-control clear" style="margin-left:3px;width:38%; margin-right:3px;">
                            
                        </div>
                    </div>
                </div>
                <div>
                    <button class="btn btn-default pull-right" ng-click="addMoreItem($event)" style="margin-top:10px; margin-bottom:10px;"><span class="glyphicon glyphicon-plus"></span></button>
                     <div class="btn-group btn-group-justified" role="group" 
            style="margin-top :25px; margin-bottom:15px;">  
                <a id="btn_broadcast" class="btn btn-default" role="button" ng-click="onBroadCastClicked($event)"><span>Broadcast</span></a>
                <a id="btn_onfly" class="btn btn-default" role="button" ng-click="onOnTheFlyClicked($event)"><span>Notify on Fly</span></a>
            </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit" style="margin-bottom:10px; margin-top:10px;" ng-click="onwishListDoneClicked($event)">Done</button>
                </div>
            </div>

        </div>
    </div>
</div>