<div class="container">
    <div class="row">


    </div>
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h4>Wish List Page</h4>
            <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group with nested dropdown">
                <a class="btn btn-default" role="button"><span ng-click="onViewListClicked($event)">View List</span></a>
                <a class="btn btn-default" role="button"><span ng-click="onCreateListClicked($event)">Create a List</span></a>
            </div>
            <div id="viewwishlist" class="row hide">
                <ul class="list-group">
                    <li class="list-group-item" data-toggle="collapse" data-target="#demow">
                        Button groups <span class="pull-right glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    </li>
                    <div id="demow" class="collapse" style="padding:10px 5px;">
                        <ul class="list-group">
                            <li class="list-group-item">Item 1<span class="badge">Pending</span></li>
                            <li class="list-group-item">Item 2<span class="badge">Pending</span></li>
                            <li class="list-group-item">Item 3<span class="badge">Pending</span></li>
                            <li class="list-group-item">Item 4<span class="badge">Pending</span></li>
                        </ul>
                    </div>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
            <div id="addwishlist" class="row show" style="padding:15px;">
                <div>
                    <input type="text" placeholder="Wish list Name" class="form-control" required>
                </div>
                <div>
                    <h5>Add Items</h5>
                    <div id="itemlistContainer" class="row" style="padding:0px 10px;">
                        <div class="listItems" style="margin-bottom : 5px;">
                            <input type="text" data-attr="name" placeholder="Item Name" class="form-control pull-left clear" style="width:40%;">
                            <input type="text" data-attr="qty" size="3" placeholder="Qty" class="pull-left form-control clear" style="margin-left:3px;width:15%;">
                            <input type="text" data-attr="cat" placeholder="Category" class="pull-left form-control clear" style="margin-left:3px;width:30%; margin-right:3px;">
                            <button class="btn btn-default pull-right" ng-click="addMoreItem($event)"><span class="glyphicon glyphicon-plus"></span></button>
                        </div>
                    </div>
                </div>
                <div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit" style="margin-bottom:10px; margin-top:10px;" ng-click="onwishListDoneClicked($event)">
                        Done</button>
                </div>
            </div>

        </div>
    </div>
</div>